<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <div class="w3-bar w3-blue w3-border w3-card-4">
      <a routerLink="/" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green">Home</a>
    <a routerLink="/interval" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green">Interval</a>
    <a routerLink="/CustomObs" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green">Custom Observable</a>
    <a routerLink="/subject" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green">Subject & Operators</a>
  </div>

<router-outlet></router-outlet>
